@page
@model IndexModel
@{
    ViewData["Title"] = "Typeahead Test Page";
}

<label for="Username"> Username : </label>
<tyme-text displayMember="name" valueMember="id" listId="nameList" sourceUri="https://jsonplaceholder.typicode.com/users" placeHolder="User name"></tyme-text>