@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<label for="Username"> Username : </label>
<tyme-text id="loginName" source="items" displayMember="name" valueMember="id" ajaxUri="https://jsonplaceholder.typicode.com/users" placeHolder="User name"></tyme-text>